{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ["*.json", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
