.header_logo {
  color: rgb(255 255 255 / 90%);
  font-size: 26px;
  font-weight: 700;
  transform: translateY(1px);

  &:hover {
    color: rgb(255 255 255 / 90%);
  }
}

.content {
  height: 100%;
  background: #e7dfdd;
}
